body {
    background-color: rgb(37, 31, 31);
}

.container {
    height: 600px;
    margin:0;
    justify-items: flex-end;
    align-items:center;
}

.navigator {
    min-height:200px;
    background-color: rgb(37, 31, 31);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:30px;
}

.score {
    background-color: chocolate;
    color: white;
    text-indent: 1em;
    min-width: 200px;
    max-width: 200px;
    min-height: 170px;
    max-height:170px;    
}

.card-deck {
    background-image: url('./img/talia_pytania.png');
    background-size: cover;
    width:120px;
      
    cursor:pointer;   
}


.current-question {
    padding:15px;
   
    background-image: url('./img/aktualne_bez_pytania.png');
    background-size: cover;
    width:169px;
    height:161px;
}
.current-question-text {
    font-size: 1.1em;
    margin:3px;
    color:black;
    background-color:white;
    
    text-align: center;
    text-justify: center;
}


.karty {
    background-color: rgb(37, 31, 31);
    width: count(100px*15);
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    justify-items: flex-end;
    
    display:flex;
    flex-direction: row;

}


.karta {
    background-size:contain;
    min-width: 100px;
    max-width: 100px;
    min-height: 170px;
    max-height:170px;
    background-repeat:no-repeat;
    background-image: url("./img/karta_odpowiedzi.png");
    margin:5px;
    overflow:hidden;
    flex:5;
    visibility:visible;
    opacity:.1;
    z-index:1;
        
}

.pytanie {
    font-size: .7em;
    margin:3px;
    color:black;
    background-color:white;
    text-align:center;
}

.data {
    font-size: 1.2em;
    font-style: bold;
    margin-top:3px;
    text-align: center;
    color:rgb(48, 26, 26);
}

.slot {
    min-width: 10px;
  
    border-radius: 10px;
    background-color: rgb(99, 216, 45);
    box-shadow: 0 0 40px 10px rgba(48, 255, 7, 0.3);
    z-index: 0;
    flex:1;
    visibility:hidden;
    cursor:pointer;
}